:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#recipe {
  max-width: 60rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* SVG Background from: https://www.svgbackgrounds.com/#diamond-sunset */
#backgroundColor {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card {
  transition: box-shadow .3s;
}
.card:hover {
  box-shadow: 0 0 11px rgb(252, 230, 135);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

/* Search code sourced from: https://bbbootstrap.com/snippets/bootstrap-need-help-support-template-search-97309157 */

.search {
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px
}

.search-recipe-input, .search-ingredient-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear
}

.search .search-recipe-input, .search .search-ingredient-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #007bff;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px
}

.search-icon:hover {
  color: #fff !important
}

/* End Search code */

ul li {
  list-style-type: none;
  margin-top: 3px;
}

ol li {
  margin-top: 3px;
}

#source:hover {
  text-decoration: underline;
}
